{% extends "layout.html" %}
{% block body %}
    <div class="container">


        <!-- <div class="jumbotron">
            <h1>LOGIN IN </h1>
            <p>Example Use Flask</p>
        </div>
        <form action={{url_for("login")}} method="POST">
            {% if error %}
            <p class=error><strong>Error:</strong> {{error}}
            {% endif %}
            <div class="form-group">
                <label for="InputUser">User Name</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="username">
            </div>
            <div class="form-group">
                <label for="InputPassword">Password</label>
                <input type="password" class="form-control"  name="password" id="password" placeholder="password">
            </div>
            <button type="submit" class="btn btn-success">Login</button>
            <button type="button" onclick="location.href={{url_for("register")}}" class="btn btn-link">Register</button>
        </form> -->

        <h2>Register From</h2>
        <form action="" method="post">
        {% if error %}
        <p class=error><strong>Error:</strong> {{error}}
        {% endif %}
        <p><input type=text name=username placeholder="Enter username">
        <p><input type=password name=password placeholder="Enter password">
        <p><input type=submit value=Register>
        </form>

    </div>

{% endblock %}
